
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Profile/css")
</head>
<body>
    <header class="header">

        <div class="container">
       
            <div class="container">
                <div class="col-md-3 text-center">
                    @Html.ActionLink("Профиль", "Index/1", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="col-md-3 text-center">
                    @Html.ActionLink("Пользователи", "Users", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="col-md-3 text-center">
                    @Html.ActionLink("Сообщества", "Groups", "Group", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="col-md-3 text-center">
                    @Html.ActionLink("Настройки", "ChangeProfileInformation", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
            </div>
        </div>
    </header>

    <div class="RenderBody">
        @RenderBody()
    </div>


</body>
</html>