@model WebApplication8.Models.GroupViewModel

@{
    ViewBag.Title = "Group";
    Layout = "~/Views/Shared/_LayoutProfile.cshtml";
}

<div class="container-fluid div-group-infopanel">
    @Html.AntiForgeryToken()
    <div class="row">
        <h2 class="text-center">@Model.GroupName</h2>
        <div class="col-md-8">
            <h3>@Model.GroupDescription</h3>
        </div>
        <div class="col-md-4 text-center">
            @Html.Raw("<img style='width:300px; height:300px;' src=\"data:image/jpeg;base64,"
                    + Convert.ToBase64String(Model.Avatar) + "\" />")

            @if (ViewBag.IsGroupAdmin)
            {
                using (@Html.BeginForm("ChangeGroupButton", "Group"))
                {
                    <input type="hidden" name="id" id="id" value=@Model.Id />
                    <input type="submit" class="btn btn-secondary" value="Редактировать группу" style="text-align: center; width: 100%; display: initial;" />
                }
            }

            @if (!ViewBag.IsMember)
            {
                using (@Html.BeginForm("InviteToGroup", "Group"))
                {
                    <input type="hidden" name="id" id="id" value=@Model.Id />
                    <input type="submit" class="btn btn-secondary" value="Вступить в группу" style="text-align: center; width: 100%; display: initial;" />
                }
            }
            else
            {
                using (Html.BeginForm("DeleteUserFromGroup", "Group"))
                {
                    <input type="hidden" name="id" id="id" value=@Model.Id />
                    <input type="submit" class="btn btn-secondary" value="Покинуть сообщество" style="text-align: center; width: 100%; display: initial;" />
                }
            }

            <br />

            <div class="col-md-12 div-group_members">
                <h3>Участники сообщества</h3>
                <diV class="div-group_members-search_block text-center">
                    @using (Ajax.BeginForm("UserSearch", "Group", new AjaxOptions { UpdateTargetId = "results" }))
                    {
                        <input type="text" name="name" />
                        <input type="hidden" name="groupId" value="@Model.Id" />
                        <input type="submit" value="Поиск" />
                    }
                </diV>
                <div id="results">
                    @Html.Partial("UserSearch", Model.GroupMembers)
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid div-group-addpost">
    @using (@Html.BeginForm("AddPostToGroup", "Group"))
    {
        <input type="hidden" name="groupId" id="groupId" value=@Model.Id />
        <div class="row div-group-addpost ">
            <div class="col-md-11">
                <textarea class="div-index-addpost-textarea" cols="20" id="postContent" name="postContent" rows="2"></textarea>
            </div>
            <div class="col-md-1">
                <input type="submit" value="Отправить" class="btn btn-default" />
            </div>
        </div>
    }
</div>

<div class="wall">
    @Html.Partial("GroupPost", Model.GroupPosts)
</div>

